body {
    font-family: "Josefin Sans", serif;
    margin: 0;
    color: #9BABBF;
    background-color: lightblue;
}
h1, h2, h3 {
    font-family: "Crimson Pro", serif;
    color: #D9CBBA;
}
header {
    background-image: url("images/penguin-sliding-small.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 2em;
}
header div {
    color: #F8F5F1;
    background-color: #2b5373ad;
    padding: 1em;
    max-width: 98%;
    width: 26em;
    border-radius: 10px 40px 30px;
}
figure {
    margin: 1em;
    border: #D97904;
    border-width: 4px;
    border-style: solid;
    padding: .5em;
    width: 355px;
    background-color: #0D0D0D;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px 20px 15px;
    transition: transform .2s;
}
figure:hover {
    transform: scale(1.05);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure img{
    width: 100%;
}
a:link {
    color: gold;
}
a:visited {
    color: darkorange;
}
a:hover {
    color: chocolate;
}
footer {
    color: #35648C;
}