body {
    font-family: "Josefin Sans", serif;
    margin: 0;
    color: navy;
    background-color: lightblue;
}
h1, h2, h3 {
    font-family: "Crimson Pro", serif;
    color: #D9CBBA;
}
header {
    background-image: url("images/penguin-sliding-small.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 2em;
}
header div {
    color: #D9CBBA;
    background-color: #35638cb9;
    padding: 1em;
    max-width: 98%;
    width: 26em;
}
figure {
    margin: 1em;
    border-color: #D97904;
    border-width: ;
}
main {
    display: flex;
    flex-wrap: wrap;
}
a:link {
    color: gold;
}
a:visited {
    color: darkorange;
}
a:hover {
    color: chocolate;
}
